<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ifanzero.mailreciever.dao.mapper.TCustInfo53Mapper" >
  <resultMap id="BaseResultMap" type="com.ifanzero.mailreciever.dao.model.TCustInfo53" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="guest_id" property="guestId" jdbcType="VARCHAR" />
    <result column="guest_name" property="guestName" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="notes" property="notes" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="referer" property="referer" jdbcType="VARCHAR" />
  </resultMap>
</mapper>